
  <header>
    <h1>
      <%= gravatar_for(@user, size: 72) %>
      <%= @user.name %>
    </h1>

    <div id="donations_last_month">
      <%= @user.donations.where('date >= ?', 1.month.ago).sum(:quantity_cents) %> donated 
      <small>in the last month</small>
    </div>

    <div id="donations_overall">
      <%= @user.donations.sum(:quantity_cents) %> in total 
    </div>

  </header>
