/*
 * Base styles for html pages
 *
 */

html, body {
  height: 100%;
  min-height: 590px;
}

body { 
  background: #F3E9D1; 
  color: $secondary-color;
  font-family: 'Raleway', Arial, sans-serif; 
  font-size: 1em; 
  font-weight: 400; 
  overflow-y: scroll; 
  overflow: hidden; 
}