  
  <div id="modal-track" class="cd-user-modal" <%= %Q{data-error="#{flash[:modal_error]}"}.html_safe if flash[:modal_error] %>>
    <div class="cd-user-modal-container">
      <div class="p4 m4">

        <h3>TrackDon</h3>
        <%= modal_flash_message(:donation) %>
        <%= render 'donations/form' %>
      </div>
    </div>
  </div>