/*

Content
-------

This object is the column holding the content of the page. There are a few flavours.

*/


.content-full {
  
}

.content-big {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;

  @include min-screen(880) { 
    padding-left: 20px;
    padding-right: 20px;
    width: 710px; 
  }
}

.content-medium {

}