<% set_meta_tags :description => t('metas.about.description') %>

<section class="content_column long_text">

  <h1><%= title t('metas.about.title') %></h1>

	<h2>What and why</h2>

  <p>TrackDons is a simple tool to keep track of the projects you have donated to.  It lets remind you which projects have you donated to and when (and if you should donate again), and it encourages you to share the donationsyou have made as a way of inspiring your friends to donate to this or other projects in need.</p>

  <p>Many great things in the world wouldn't have been created with the desinterested support of people who believe in a certain cause. There are different countries with different levels of commitment to altruist causes, but we believe that the Internet enables a new generation of micro-altruists (see Kickstarter) who can make that lots of smaller projects get a sustainable stream of incomes to maintain their operations, without the need of searching a commercial business model (hi all econmy beleivers who have just).</p>

  <p>We also believe that we usually donate almost by accident: when we are prompted to do it; and that donations are something extraordinary. We pay the subscription to our gym or the accesories for our bike when they wear out, but only donate to that fantastic community site or grassroots project only once in a while?</p>

  <p>As a long term goals, we wonder many other things...</p>

  <ul>
    <li>if donation based incomes can become a respectable business model (ie. making subscription models for digital ventures attractive, with enough volume, and )</li>
    <li>if TrackDons gets to accumulate enough data, it will be fun to see what patterns exist regarding donations</li>
  </ul>



  <h2>Some other questions</h2>

  <h3>How different is a subscription for a site than a donation?</h3>
  <p>It isn't. We are currently thinking how we should tackly this issue (also, did you notice that when I face a problem we use the plural form?)</p>

  <h3>Does TrackDons have a business model?</h3>
  <p>Currently not. Hey we could even ask for donations! But actually this is only a learning excercise in computer programming, and a kind of experiment to see if this idea even makes any sense.</p>

  <h3>Who is behind TrackDons?</h3>
  <p>This is a pet project started by Álvaro Ortiz (<a href="http://www.twitter.com/@furilo">@furilo</a>). Jorge Sancha (<a href="http://www.twitter.com/@jorgesancha">@jorgesancha</a>) and Fernando Blat (<a href="http://www.twitter.com/@ferblape">@ferblape</a>) were asked if this was a goog enough idea to contribute, and they decided it was.</p>

  <h3>Can I export my data?</h3>
  <p>You will (I haven't got time to do it yet, but my plan is to expose that info so you other applications can consume it, as well as you being able to export a CSV). Want to help?</p>

  <h3>Do you impose some kind of editorial content about what projects can be tracked? (ie. What happens if someone is tracking donations for a venture you consider horrible?)</h3>
  <p>I don't know yet. If some project wants to raise money to fight against same-marriage sex, or that defends violent animal killings such as bullfighting I would not know what I'd do.</p>

  <h3>Feedback, questions, proposals?</h3>
  <p>Write to lets@trackdons.org</p>

</section>
