<% set_meta_tags :description => t('metas.about.description') %>

<section class="content_column long_text">

	<h1><%= title t('metas.about.title') %></h1>

	<p>Traducción pendiente. <%= link_to 'Echa un vistazo a la versión en inglés', about_path(:locale => 'en') %>, o <%= link_to 'contribuye con tu traducción!', 'https://github.com/furilo/trackdons/wiki/Contribute-your-language' %></p>

</section>
