<div class="notice-box mb4 px4 py1">
  <p><%= t('.connect_with_facebook_and_twitter') %></p>
  <p><%= t('.never_publish') %></p>

  <div class="social-login mt2 mb3 clearfix">
    <% if !@current_external_services.include?(:twitter) %>
      <%= link_to(t('.twitter'), '/auth/twitter', class: "btn float-left") %>
    <% end %>

    <% if !@current_external_services.include?(:facebook) %>
      <%= link_to(t('.facebook'), '/auth/facebook', class: "btn float-right") %>
    <% end %>
  </div>
</div>
