<div>
  <p><%= t('.no_friends_activity') %></p>

  <div class="social-login mt4 mb4 clearfix">
    <%= link_to(t('.twitter'), 'https://twitter.com', class: "btn float-left") %>
    <%= link_to(t('.facebook'), 'https://facebook.com', class: "btn float-right") %>
  </div>
</div>
