<div class="notice-box px4 py1">
  <p><%= t('.no_friends_activity') %></p>

  <div class="social-login mt2 mb3 clearfix">
    <%= link_to(t('.twitter'), 'https://twitter.com', class: "btn mr2 ") %>
    <%= link_to(t('.facebook'), 'https://facebook.com', class: "btn ") %>
  </div>
</div>
