<section id="track_donation" class="content_full">

  <div class="content_column tracked_donation">
    <% if params[:share_links].present? %>
      <small><%= t('donations.show.your_tracked_donation') %></small>
    <% end %>
    <%= render 'form' %>
  </div>

</section>
