<% set_meta_tags :description => t('metas.donations.home.description') %>

<section class="content_column">

  <h1><%= title t('metas.donations.home.title') %></h1>

  <%= render @donations %>

</section>
