<%# link_to t('.follow'), track_donation_path, :class => 'button not_active' %>

<% if logged_in? %>
  <% if current_user.following?(@project) %>
    <%# button_to("Un-Follow", project_unfollow_path(@project), :method => :patch, :remote => true, ) %>
    <%= link_to "Unfollow", project_unfollow_path(@project),
          :remote => true,
          :method => :patch,
          :class => "button unfollow",
          :id => 'follow_button' %>
  <% else %>
    <%# button_to("Follow", project_follow_path(@project), :method => :patch, :remote => true) %>
    <%= link_to "Follow", project_follow_path(@project),
          :remote => true,
          :method => :patch,
          :class => "button follow",
          :id => 'follow_button' %>
  <% end %>
<% else %>
  <!-- TODO: what to do for anonymous users? -->
<% end %>
</span> <!-- TODO: check this span -->

<%= link_to t('.trackdon'), '#track_donation', :class => 'button' %>
