<% set_meta_tags :description => t('metas.projects.home.description') %>
<% set_meta_tags :keywords => t('metas.projects.home.keywords') %>

<section class="wide_content">

  <div class="main_column">

    <section class="header">
      
      <h1><%= title @page_title %> (<%= link_to '+', new_project_path %>)</h1>

      <div class="filters">
        <% @order_types.each do |order| %>
          <%#link_to_unless_current order, category_path(:order_type => order) %>
        <% end %>
      </div>

    </section>

    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>

  </div>

  <div class="sidebar">

    <div class="categories">
      <h2>Categories</h2>

      <ul>
        <% @categories.each do |category| %>
          <li><%= link_to_unless_current category.name, category_path(:category => category) %></li>
        <% end %>
      </ul>
    </div>


  </div>

</section>

