# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: df4941e22796fac2458f93729b3f95680aecc74e6a6fcc5ba0b3714ebbeb2a7099acb714a33b7de87bcd8e2b75ad04c624856a496649c42b33e336071a5f6aa3
  twitter_api_key: 'API_KEY'
  twitter_api_secret: 'API_SECRET'
  facebook_api_key: 'API_KEY'
  facebook_api_secret: 'API_SECRET'

test:
  secret_key_base: 074ecf44262876b32f0547beaff25b9f165719f11191392026335cef9488b3e67600ce476e3060fb57c48d5797fa9fb8e1629ea434fb09e21520cba8f1974c8e
  twitter_api_key: 'API_KEY'
  twitter_api_secret: 'API_SECRET'
  facebook_api_key: 'API_KEY'
  facebook_api_secret: 'API_SECRET'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 1111111111111111111111111111111111111111111111111111111
  mandrill_smtp_address: smtp.example.com
  mandrill_smtp_port: 587
  mandrill_smtp_domain: wadus.com
  mandrill_smtp_username: wadus@example.com
  mandrill_smtp_password: supersecretkey
  rollbar_access_token: 1111111111112222222222233333333333333
  twitter_api_key: 'API_KEY'
  twitter_api_secret: 'API_SECRET'
  facebook_api_key: 'API_KEY'
  facebook_api_secret: 'API_SECRET'
