<div class="donation-container">
  <section class="donation-introduction mb6">
    <div class="donation-introduction-holder seventy percent mx-auto">
      <h2>Great your donation is tracked. This is just the begining</h2>
      <div class="donation-introduction">
          <div class="row mb3">
            <div class="col">
              <p class="m0">Be an active promoter of the donation you have done.</p>
            </div>
            <div class="col align-bottom align-right">
              <a href="#" class="link-share align-center">Share in Twitter</a>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="m0">Its the best way to convince your friends to donate.</p>
            </div>
            <div class="col align-right">
              <a href="#" class="link-share align-center">Share in Facebook</a>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class="donation-content">
    <div class="donation-content-holder seventy percent mx-auto">
      <div class="donation-content-user flex-container">
        <span class="avatar is-small mr2">
          <img alt="Gema de Rus" class="gravatar" src="https://secure.gravatar.com/avatar/e3eea9be3898fd88183576de77ac4b25?s=72">
        </span>
        <span><a href="#">Gema de Rus</a> donated 25€ to <a href="#">Wikipedia</a><sup class="pd-date">13.06.2013</sup></span>
        <ul class="icon-list no-bullet m0 ml-auto">
          <li class="icon inline-block"></li>
          <li class="icon inline-block"></li>
        </ul>
      </div>

      <div class="donation-content-holder-medium ninetyfive percent mx-auto">
        <div class="donation-content-user-info pl4 mb4">
          <span class="inline-block mb3">I donated to Wikipedia because</span>
          <div class="dot-container">
            <p class="m0 with-dot to-top"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ducimus tempora quas praesentium est, facilis illum ullam suscipit nam, magni similique sunt voluptas quae beatae quaerat labore commodi fugit soluta.</em></p>
          </div>
        </div>
        <div class="donation-content-user-profession pl4 mb4 flex-container">
          <div class="donation-content-user-works">
            <h4 class="bold m0 mb2"><em>they work to</em></h4>
            <ul class="work-items no-bullet m0 p0">
              <li class="work-item mb1 dot-container">
                <span class="with-dot">Promote Free Knowledge <span class="work-item-number">1234</span></span>
              </li>
              <li class="work-item dot-container">
                <span class="with-dot">Empower people to develop open content<span class="work-item-number"> 1234</span></span>
              </li>
            </ul>
          </div>
          <a href="#" class="donation-content-user-button link-share align-center">Share by email</a>
        </div>
        <div class="donation-content-user-work pl4 mb4">
          <h4 class="bold m0 mb2"><em>a friend inspired him to donate</em></h4>
          <div class="dot-container">
            <span class="avatar is-out is-small mr2 with-dot">
              <img alt="Gema de Rus" class="gravatar" src="https://secure.gravatar.com/avatar/e3eea9be3898fd88183576de77ac4b25?s=72">
            </span>
          </div>
        </div>
        <div class="donation-content-user-developed pl4">
          <h4 class="bold m0 mb1"><em>an activity they developed</em></h4>
          <div class="dot-container">
            <a href="#" class="link-blue with-dot">The grand adventure of the Annual Report</a>
          </div>
        </div>
      </div>
      <div class="donation-content-semifooter ml2">
        <h4 class="semifooter-item one m0">Do you know friends who have donated to Wikipedia?</h4>
        <h4 class="semifooter-item two m0">
          <a href="#">Ask them to track their donations and further help Wikipedia</a>
        </h4>
      </div>
    </div>

  </section>
</div>
