<div class="ninety percent mx-auto">
    <div id="example">
      <h3 class="m0 mb4">Great! Just two things before you are done:</h3>
      <ul class="pd-list no-bullet">
        <li class="pd-list-item clearfix mb3">
          <div class="pd-content-left float-left">
            <span class="content-left-number">1</span>
          </div>
          <div class="pd-content-right float-right">
            <p class="pd-advice m0 mb6"><span class="bold">Tell why you have donated</span>, that will make the most impact in your friends and recruit more donors for the project.</p>
            <div class="pd-holder-border">
              <div class="pd-user mb3">
                <span class="avatar is-small mr2">
                  <img alt="Gema de Rus" class="gravatar" src="https://secure.gravatar.com/avatar/e3eea9be3898fd88183576de77ac4b25?s=72">
                </span>
                <span class="pd-user"><a href="#">Gema de Rus</a> donated 25€ to <a href="#">Wikipedia</a><sup class="pd-date">13.06.2013</sup></span>
              </div>

              <div class="pd-content-right-container">
                <div class="pd-input-group">
                  <label for="because" class="pd-input-label mb2">I donated to Wikipedia because</label>
                  <textarea id="because" class="field-textarea hundred percent mb4 field-textarea-huge" placeholder="A short explanation of what made you donate to this project"></textarea>
                </div>
                <div class="pd-choise">
                  <p class="m0">When we have issues and project activities, let the user choose them (also: select a friend who made you donate)</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="pd-list-item clearfix mb3">
          <div class="pd-content-left">
            <span class="content-left-number float-left">2</span>
          </div>
          <div class="pd-content-right float-right">
            <p class="pd-advice m0 mb3"><span class="bold">Set up a reminder</span> Since yours is a one-time donation, we recommend thinking about donating again in 6 months</p>
            <div class="input-group pd-remind"> 
              <span class="field-checkbox is-fancy mr2">
                <input type="checkbox" value="None" id="tip" name="check" checked />
                <label for="tip"></label>
              </span> 
              <label for="tip">Remind me in 6 months</label>
            </div>
          </div>
        </li>
      </ul>
      
      <div class="form-actions align-center">
        <a class="button" href="#">TrackDon</a>
      </div>
    </div>
</div>