/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 *= require tipsy
 *= require slidebars
 *= 
 */

@import "http://fonts.googleapis.com/css?family=Raleway:400,700";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

$main_color: #7C9200;
$secondary_color: #565631;

/* colors */
body { background: #F3E9D1; }
body .sb-site-container { background-color: transparent; }
#logo { background: $secondary_color; }

#container { background: #F8F2E3; border-color: #E4D6B3; }
#header { background: $main-color; color: #FFF; }
#header a { color: #FFF; }
button, .button, input[type='submit'] { background: $main-color; color: #FFF; }
a.button { text-decoration: none; }
.content_full { background: #EBE8CC; }
#track_donation header h2, h1 { border-color: $main-color; color: $main-color; }
#project .meta { background: #EBE8CC; }
.donation { border-top-color: #D9DAAA;}
.user_page header, #first_donation_pending { background: #EBE8CC; }

/* fonts */
body { font-weight: 400; font-size: 1em; font-family: 'Raleway', Arial, sans-serif; overflow: hidden; overflow-y: scroll; min-height: 590px;color: $secondary-color;}
input[type='submit'], textarea, button, .ui-autocomplete { font-family: 'Raleway', Arial, sans-serif; }
body .tipsy { font-size: 11px; }

/* structure */
#container { margin: 2em auto; width: 800px; border-width: 30px; border-style: solid; }
#header { position: relative; padding: 10px 0; min-height: 16px}
  #nav_site { }
  #nav_personal { position: absolute; top: 10px; right: 10px; text-align: left; }
  /*#nav_mobile { display: none; }*/
  #nav_mobile .hamburger { position: absolute; border: 1px solid red; top: 0; left: -50px; width: 31px; height: 31px; margin: 4px; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMzJweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNCwxMGgyNGMxLjEwNCwwLDItMC44OTYsMi0ycy0wLjg5Ni0yLTItMkg0QzIuODk2LDYsMiw2Ljg5NiwyLDhTMi44OTYsMTAsNCwxMHogTTI4LDE0SDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDIgIHMwLjg5NiwyLDIsMmgyNGMxLjEwNCwwLDItMC44OTYsMi0yUzI5LjEwNCwxNCwyOCwxNHogTTI4LDIySDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDJzMC44OTYsMiwyLDJoMjRjMS4xMDQsMCwyLTAuODk2LDItMiAgUzI5LjEwNCwyMiwyOCwyMnoiLz48L3N2Zz4='); }
  .sb-slidebar.sb-active { width: 300px; }

#main_content { margin-top: 40px; margin-bottom: 80px; }
.content_column, .alert { padding: 0 40px 0 120px; overflow: hidden; }
.content_full {  }

/* forms */
button, .button, input[type='submit'] { margin: 10px 0 20px 0; border: 0; padding: 10px 16px; font-size: 14px; display: inline-block; }
form.simple_form { width: 400px}
form.simple_form input, form.simple_form textarea { width: 94%; padding: 4px;}
form.simple_form input[type='checkbox'] { width: auto; }
form.simple_form textarea { height: 100px; }

.alert {  }
.success, .info, .warning, .danger {}

/* rails */
.field_with_errors { border: 1px solid red;}

.pages_index #logo { display: none; }
#logo { position: absolute; top: 0; width: 100px; height: 100%; text-align: center; vertical-align: middle; font-weight: 700}
#logo a { display: block; padding: 12px 8px; font-size: 13px; text-decoration: none; text-transform: uppercase; }
h1.logo { background: $secondary-color; text-transform: uppercase; display: inline-block; padding: 8px 16px; color: #FFF; font-size: 24px; font-weight: normal; }
h1 { font-size: 32px; }
h2 { font-size: 24px; }
#header { font-size: 14px;}
#header ul { margin: 0; padding: 0; }
#header ul li { list-style-type: none; display: inline; }
#header li:after { content: " · "; }

#home { padding-top: 30px; padding-bottom: 30px;}
#home ul, #home li { margin: 0; padding: 0; list-style-type: none; }
#home li { font-size: 18px; margin: 0 0 22px 0;}
#home ul { width: 410px; }

#track_donation { border-top: 1px solid #FFF; padding-right: 100px; padding-top: 20px;}
#track_donation header { margin: 20px 0; position: relative; }
#track_donation h2 { font-size: 18px;}
#track_donation header h2 { font-size: 16px; border-bottom-width: 4px; border-bottom-style: solid; padding-bottom: 3px;  }
#login_if_you_already { position: absolute; top: 2px; right: 0; }
#login_if_you_already a { text-decoration: none; color: #97A732; }

.main_form input, #i_want_to_explain_content textarea, .track_don_project_name { padding: 4px 8px; font-size: 24px; height: 32px; border: 1px dashed $main-color; margin-bottom: 4px; font-family: 'Raleway', Arial, sans-serif; font-weight: bold}
.track_don_project_name { border: 1px dashed $main-color; overflow: hidden;}

.main_form { clear: both; margin: 0 0 20px 0;}
.track_don_project, .track_don_quantity, .track_don_date { display: inline-block; }
.track_don_project { width: 540px; margin-bottom: 20px; overflow: hidden;}
.track_don_quantity { width: 90px; margin-right: 10px; }
.track_don_quantity_B { width: 375px; margin-bottom: 20px; float: right; }
.main_form .track_don_quantity_B input { width: 90px; margin: 0;}
.track_don_quantity_B_option { background: #D5D7A3; margin-bottom: 4px; }
.track_don_quantity_B_option .hint { display: inline-block; }
.main_form .track_don_quantity_B_option_hint { display: inline-block; width: auto; font-size: 12px; vertical-align: top; padding: 6px 0 0 0;}
.main_form .track_don_quantity_B_option_hint input { vertical-align: middle; margin: -1px 8px 0 12px; width: auto}
.track_don_date { width: 130px; float: left; margin-right: 20px;}
.track_don_project input { width: 97%; }
.track_don_quantity input { width: 74px; }
.track_don_date input { width: 100%; font-size: 12px;}
.track_don_options { margin: 0 0 20px 0; clear: both;}
.hint { font-size: 12px}
#i_want_to_explain_content { display: none; }
#i_want_to_explain_content textarea { width: 97%; height: 100px; font-size: 13px; padding-top: 10px; margin: 10px 0;}

#project { margin-top: 30px; overflow: hidden; }
#project .meta { width: 42%; float: left; padding: 2% 4%; font-size: 12px; }
#project .actions { width: 42%; float: right; padding: 0 4%; }
#project h1 { font-size: 32px; margin: 10px 0;}
#project .description { margin: 0 0 40px 0; font-size: 12px }
#project .meta ul { margin: 0; padding: 0; ;}
#project .meta li { list-style-type: none; margin: 0 0 10px 0;}
#project .actions div { margin: 0 0 10px 0;}
#project .actions p { margin: 0;}
#project .links { margin: 0 0 20px 0;}
#project .links div { display: inline-block; padding: 0 10px 0 0;}
.project_main { clear: both; overflow: auto; }

.project a { width: 120px; margin: 0 10px 10px 0; float: left; padding: 5px; height: 60px; text-align: bottom; border: 1px solid #CDD195; }
.project a { display: block;}

.donation { border-top-width: 1px; border-top-style: solid; padding-top: 10px; margin-bottom: 35px; position: relative;}
.donation h2 { font-size: 18px; color: #666; margin: 0 ;}
.donation .tags a { display: inline-block; font-size: 11px; font-weight: normal; color: #666; text-decoration: none; background: #F3E9D1; padding: 2px; margin: 0 6px 0 0;}
.donation_comment { margin: 15px 0;}
#donation_do_widget { position: absolute; top: 10px; right: 0; width: 150px; text-align: right; }
#donation_do_widget .donation_number { padding: 4px 10px; font-size: 12px; display: inline-block; background: #D9DAAA; }
#donation_do_widget .donation_do { display: inline-block; }
#donation_do_widget .button { padding: 4px 10px; font-size: 12px; margin: 0; }

.long_text { width: 500px; font-size: 14px; }
.long_text p { line-height: 22px; }

.user_page {}
.user_page header { padding: 20px; position: relative;}
.user_page header h1 { font-size: 28px; margin: 0 0 0 72px; }
.user_page header img { vertical-align: middle; position: absolute; top: 0; left: 0; }
#donations_last_month { position: absolute; top: 25px; left: 300px; }
#donations_last_month small { display: block}
#donations_overall { position: absolute; top: 25px; left: 450px; }
#donations_last_month, #donations_overall { font-size: 14px; }
#user_nav { margin: 20px 0;}
#edit_your_profile { float: right; }

.ui-autocomplete { border: 1px solid red; }

#first_donation_pending { padding-top: 1em; padding-bottom: 1em; margin-bottom: 2em; }

#footer { text-align: center; font-size: 12px }

//Overwriting image for asset_pipeline -> there is probably a better way
.tipsy .tipsy-arrow { background-image: url(image_path('tipsy.gif')) !important }


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
  body { border: 2px solid red;}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}



@media only screen  and (max-width : 880px) {
  body { margin: 0; padding: 0; }
  #container { width: auto; margin: 0; border-width: 15px}
  #header { position: relative; padding: 10px 0;}
    #nav_site { }
    #nav_personal { position: absolute; top: 10px; right: 10px; text-align: left; }
    #nav_site, #nav_personal { display: none; }
    #nav_mobile { display: block; }
    #logo { left: 39px; }
    #nav_mobile .hamburger { left: 0; }
  #home { padding-top: 0;}
  #main_content { margin-top: 0; margin-bottom: 10%; }
  .content_column, .alert { padding-left: 5%; padding-right: 5%; }
  .content_full {  }
  .long_text { width: auto;}
  
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

