/* 
 * 1. Core
 * -------
 *
 * Any module relative to app configuration it should be here. This includes the global reset for common ground
 * in all browsers, any custom reset we want to apply, all variables the app uses, sass functions and mixins...
 *
 */

@import "bourbon";

@import "core/settings";
@import "core/functions";
@import "core/mixins";
@import "core/reset";

/* 
 * 2. Base
 * -------
 *
 * All base styles for the app will be under base folder. This includes fonts, regular styles for headings, 
 * paragraphs, lists, links, etc.
 *
 */

@import "base/fonts";
@import "base/base";
@import "base/links";
@import "base/lists";
@import "base/label";

/* 
 * 3. Helpers
 * ----------
 *
 * Utility classes, like to clearfix the floats or align text. This follows the single responsability principle.
 *
 */

@import "helpers/clearfix";
@import "helpers/is-hidden";
@import "helpers/percent";
@import "helpers/font-sizes";
@import "helpers/white-spacing";
@import "helpers/colors";
@import "helpers/layout";

/* 
 * 4. Objects
 * ----------
 *
 * We want reusable modules that they could be applied repeatedly on different pages. This alignes with
 * the DRY principle
 *
 */

@import "objects/form";
@import "objects/form-fields";
@import "objects/buttons";
@import "objects/justify-columns";
@import "objects/content";
@import "objects/modal";

/* 
 * 5. Layout
 * ---------
 *
 * Sometimes it happens you need to overwrite some components' behaviour. This should be an exception, and if you 
 * find yourself overwriting any component twice, we are probably doing wrong.
 *
 */

 @import "layout/donations";
 @import "layout/home-newcomers";

/* 
 * 6. Vendors
 * ----------
 *
 * Any vendor styles, usually linked to jquery plugins or javascripts, should go here.
 *
 */

@import "vendor/select2";
@import "vendor/slidebars";
@import "vendor/tipsy";
@import "vendor/pikaday";

/* 

Prefer components over page level styles, for large term maintenability reasons mostly. We want our front end to 
feel like library code. We should start to break files like this into smaller more focused files like 
form.scss, button.scss, tags.scss, dropdown.css, etc.

And this is important, make a tatoo in your arm if you prefer, but follow this rule: 
DON'T USE #ID FOR STYLING. DON'T. JUST DON'T.

*/

/* In order to above, this should be deprecated */
@import "helpers/white-spacing";

body #sb-site, body .sb-site-container { background-color: transparent; }
#logo { background: $secondary_color; }

#container { background: #F8F2E3; border-color: #E4D6B3; }
#header { background: $main-color; color: #FFF; }
#header a { color: #FFF; }
.content_full { background: #EBE8CC; }
#track_donation header h2, h1 { border-color: $main-color; color: $main-color; }
#project .meta { background: #EBE8CC; }
.donation { border-top-color: #D9DAAA;}
.user_page header, #first_donation_pending { background: #EBE8CC; }

input[type='submit'], textarea, button, .ui-autocomplete { font-family: 'Raleway', Arial, sans-serif; }
body .tipsy { font-size: 11px; }

/* structure */
#container { margin: 2em auto; width: 800px; border-width: 30px; border-style: solid; }
#header { position: relative; padding: 11px 0 9px; min-height: 16px}
  #nav_site { 
    li { vertical-align: top; }
  }
  #nav_personal { position: absolute; top: 11px; right: 10px; text-align: left; }
  /*#nav_mobile { display: none; }*/
  // #nav_mobile .hamburger { position: absolute; border: 1px solid red; top: 0; left: -50px; width: 31px; height: 31px; margin: 4px; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMzJweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNCwxMGgyNGMxLjEwNCwwLDItMC44OTYsMi0ycy0wLjg5Ni0yLTItMkg0QzIuODk2LDYsMiw2Ljg5NiwyLDhTMi44OTYsMTAsNCwxMHogTTI4LDE0SDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDIgIHMwLjg5NiwyLDIsMmgyNGMxLjEwNCwwLDItMC44OTYsMi0yUzI5LjEwNCwxNCwyOCwxNHogTTI4LDIySDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDJzMC44OTYsMiwyLDJoMjRjMS4xMDQsMCwyLTAuODk2LDItMiAgUzI5LjEwNCwyMiwyOCwyMnoiLz48L3N2Zz4='); }
  // .sb-slidebar.sb-active { width: 300px; }
  #menu_icon { position: absolute; padding: 10px; top: 2px; left: 2px; width: 18px; display: inline-block; font-size: 16px; }
  #menu_icon:hover { cursor: pointer; }
  #menu_icon span { text-indent: -9999px; display: inline-block; }

.sb-slidebar {
  
  ul {
    margin: 0; 
    padding: 0; 
  }
  ul.bottom {
    position: absolute;
    bottom: 0; 
    width: 100%;
  }
  li { 
    margin: 5%; 
    list-style-type: none; 
    display: block;
    background: $main_color;

    a {
      font-weight: bold;
      text-decoration: none;
      display: block;
      padding: 10px; 
      color: #FFF;  
    }
  }

}

#main_content { margin-top: 40px; margin-bottom: 80px; }
.content_column { padding: 0 40px 0 120px; overflow: hidden; }
.alert { overflow: hidden; }
.content_full {  }

/* forms */
button, .button, input[type='submit'] { 
/*  margin: 10px 0 20px 0; 
  border: 0; 
  padding: 10px 16px; 
  font-size: 14px; 
  display: inline-block; 
*/}
form.simple_form { width: 400px; margin-bottom: 2em; }
form.simple_form input, form.simple_form textarea { width: 94%; padding: 4px; font-size: 1em;}
form.simple_form input[type='submit'] { /*padding: 8px; font-weight: bold;*/ }
form.simple_form input[type='checkbox'] { width: auto; }
form.simple_form textarea { height: 100px; }
form.simple_form input[type='submit'] { width: 40%;}

.alert { background: #EBE8CC; padding-top: 1em; padding-bottom: 1em; margin-bottom: 2em; }
.success, .info, .warning, .danger { }

/* rails */
.field_with_errors { border: 1px solid red;}

/* tables */
td {
  border-top: 1px solid $tertiary_color;
  border-left: 1px dashed $tertiary_color;
  padding: 10px;
}
.pages_index #logo { display: none; }
#logo { position: absolute; top: 0; width: 100px; height: 100%; text-align: center; vertical-align: middle; font-weight: 700}
#logo a { display: block; padding: 12px 8px; font-size: 13px; text-decoration: none; text-transform: uppercase; }
h1.logo { background: $secondary-color; text-transform: uppercase; display: inline-block; padding: 8px 16px; color: #FFF; font-size: 24px; font-weight: normal; }
h1 { font-size: 32px; }
h2 { font-size: 24px; }
#header { font-size: 14px;}
#header ul { margin: 0; padding: 0; }
#header ul li { list-style-type: none; display: inline-block; margin-right: 4px }
// #header li:after { content: " · "; }

#home { padding-top: 30px; padding-bottom: 30px;}
#home ul, #home li { margin: 0; padding: 0; list-style-type: none; }
#home li { font-size: 18px; margin: 0 0 22px 0;}

// #track_donation header { margin: 20px 0; position: relative; }
// #track_donation h2 { font-size: 18px;}
//#track_donation header h2 { font-size: 16px; border-bottom-width: 4px; border-bottom-style: solid; padding-bottom: 3px;  }
#login_if_you_already { position: absolute; top: 2px; right: 0; }
#login_if_you_already a { text-decoration: none; color: #97A732; }

.main_form input, #i_want_to_explain_content textarea, .track_don_project_name { padding: 4px 8px; font-size: 24px; height: 32px; border: 1px dashed $main-color; margin-bottom: 4px; font-family: 'Raleway', Arial, sans-serif; font-weight: bold}
.track_don_project_name { border: 1px dashed $main-color; overflow: hidden;}

.main_form { clear: both; margin: 0 0 20px 0;}
.track_don_project, .track_don_quantity, .track_don_date { display: inline-block; }
.track_don_project { width: 540px; overflow: hidden;}
.track_don_quantity { width: 90px; margin-right: 10px; }
.track_don_quantity_B { width: 375px; float: right; }
.main_form .track_don_quantity_B input { width: 65px; margin: 0;}
.track_don_quantity_B_option { background: #D5D7A3; margin-bottom: 4px; }
.track_don_quantity_B_option .hint { display: inline-block; }
.main_form .track_don_quantity_B_option_hint { display: inline-block; width: auto; font-size: 12px; vertical-align: top; padding: 6px 0 0 0;}
.main_form .track_don_quantity_B_option_hint input { vertical-align: middle; margin: -1px 8px 0 12px; width: auto}
.track_don_date { width: 130px; float: left; margin-right: 20px;}
.track_don_project input { width: 97%; }
.track_don_quantity input { width: 74px; }
.track_don_date input { width: 100%; font-size: 12px;}
.track_don_options { margin: 0 0 20px 0; clear: both;}
.hint { font-size: 12px; margin-bottom: 20px; }
#i_want_to_explain_content { display: none; }
#i_want_to_explain_content textarea { width: 97%; height: 100px; font-size: 13px; padding-top: 10px; margin: 10px 0;}
#project_attributes { display:none; 
  input, textarea { width: 96.5%; font-size: 13px; border: 1px dashed $main-color; font-weight:bold;}
  textarea { width:99%; padding-top: 10px; height: 100px; }
}

.track_don_quantity_B {
  
  input { 
    width: 65px; 
    margin: 0;
  }

  .track_don_currency_selector {
    background: $main_color; 
    display: inline-block;
    vertical-align: top; 
    margin: 0; 

    select {
      background: none; 
      vertical-align: top; 
      height: 38px; 
      margin: 4px 0 0 0; 
      border: none;
      font-size: 18px;
      font-family: 'Raleway';
      color: #FFF;
      
      option {
        white-space: pre;
      }
    }
  }

}

#project { overflow: hidden; }
#project .meta { width: 42%; float: left; padding: 2% 4%; font-size: 12px; }
#project .actions { width: 42%; float: right; padding: 0 4%; }
#project h1 { font-size: 32px; margin: 10px 0;}
#project .description { margin: 0 0 40px 0; font-size: 12px }
#project .meta ul { margin: 0; padding: 0; ;}
#project .meta li { list-style-type: none; margin: 0 0 10px 0;}
#project .actions div { margin: 0 0 10px 0;}
#project .actions p { margin: 0;}
#project .links { margin: 0 0 20px 0;}
#project .links div { display: inline-block; padding: 0 10px 0 0;}
.project_main { clear: both; overflow: auto; }

.project a { width: 120px; margin: 0 10px 10px 0; float: left; padding: 5px; height: 60px; text-align: bottom; border: 1px solid #CDD195; }
.project a { display: block;}

body.projects_index {
  .sidebar {
    h2 {
      border-top: 5px solid #7c9200;
      font-size: 1.2em;
    }
    li {
      margin-bottom: .2em;
    }
  }
}
.project_page {
  padding: 0 2em;

  .header {
    border-top: 5px solid $main_color;
    position: relative;
    padding-right: 300px;
    padding-top: .5em;

    h1 {
      font-size: 1.6em;
      display: inline;
      padding-right: .5em;
      
    }

    .links {
      display: inline-block;

      div {
        display: inline-block;
        padding-right: 1em;
      }
    }

    .action_buttons {
      position: absolute;
      top: 1em; 
      right: 0;
      font-size: .75em;

      a {
        margin-left: 1em;
      }
    }

    .donations {
      color: $main_color;
      
    }
  }

  .description {
    font-size: .9em;
    line-height: 1.2em;
    margin: 2em 0 2em 0;
  }

  h2 {
    color: $main-color;
    border-bottom: 2px solid $main-color;
    border-top: none;
    padding: 0 0 .15em 0;
    font-size: 1.1em;
    margin: 0 0 1em 0;
    span {
      # color: lighten($main_color, 10%);
      opacity: .5;
    }
  }
  .main_column {
    h2 {
      margin: 0 0 2em 0;
    }
  }
  /*.donations {
    width: 70%;
    float: left;
    overflow: hidden;
  }
  .sidebar {
    width: 26%;
    float: right;
    overflow: hidden;
  }*/

  #unfollow_button {
    text-align: center;
  }
}
.wide_content .sidebar .related li {
  margin-bottom: 1em;
}

.donation .tags a { display: inline-block; font-size: 11px; font-weight: normal; color: #666; text-decoration: none; background: #F3E9D1; padding: 2px; margin: 0 6px 0 0;}
//#donation_do_widget { position: absolute; top: 10px; right: 0; width: 150px; text-align: right; }
#donation_do_widget { position: absolute; top: 8px; right: 0; text-align: right; }
#donation_do_widget .donation_number { padding: 4px 10px; font-size: 12px; display: inline-block; background: #D9DAAA; }
#donation_do_widget .donation_do { display: inline-block; }
#donation_do_widget .button { padding: 4px 10px; font-size: 12px; margin: 0; }

.donation {
  position: relative;
  border: none;
  padding: 1em;
  margin: -1em -1em 1em -1em;

  .line {
    position: absolute;
    left: 30px;
    top: 46px;
    width: 2px;
    background: $light_background;
    height: 100%;

  }
  .gravatar {
    width: 30px;
    height: 30px;
    margin-right: 13px;
    float: left;
    border-radius: 6px;
  }
  .donation_comment, .donation_tools {
    margin: 0 0 0 42px;
    font-size: .8em;
  }
  h3 { 
    border: none;
    color: $secondary_color;
    font-size: 1em;
    color: #666; 
    margin: 0 10px 10px 0;
    border: none;

    .date {
      opacity: .5;
      font-weight: normal;
    }
  }
  p.donation_date { color: #AFACA4; }
}
.donation:hover {
  background: $light_background;
  border-radius: 6px;
}

/*#project */.donation #donation_do_widget {
  display: none;
}
/*.donation { 
  border-top-width: 1px; 
  border-top-style: solid; 
  padding-top: 10px; 
  margin-bottom: 35px; 
  position: relative; 
  clear: both;

  small { 
    display: block; 
    margin-bottom: 15px; 
  }
  .gravatar { 
    float: left; 
    margin-right: 9px; 
    width: 45px; 
    border-radius: 6px;
  }
  a, a:visited { 
    color: $main-color 
  }
  
}*/
small { font-size: 11px; }
hr { height: 1px; border:0; background-color: #D9DAAA; margin: 60px 0px 15px; width: 100%; }

.big_banner {
  @extend .content_column;
  background: #BAC271; 
  margin-top: -40px;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1.15em;
  line-height: 1.4em;

  big {
    font-size: 1.2em;
  }
}

#share_block { 
  background-color: #D9DAAA; 
  padding: 20px;
  margin-bottom: 40px;
  p { 
    font-size: 18px; 
    margin-top: 0px;
  }
}
#share_buttons {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 

  li { 
    width: 29%; 
    margin-right: 26px; 
    text-align: center;
    display: inline-block;
    font-size: .9em;
  }
  li:last-child { 
    margin-right: 0px; 
  };
  
}
#next { 
  list-style-type: none; 
  padding: 0px; 
  margin: 15px 0px 0px; 
  
  li { 
    display: inline-block; 
    vertical-align: top;
    width: 30%; 
    margin-right: 26px; 

    a {
      padding: 10px;
      height: 65px; 
      display: block;
      background-color: #D9DAAA;
      color: $main-color; 
      font-size: 18px; 
      font-weight: bold; 
    }
  }
  li:last-child { 
    margin-right: 0px; 
  };
}

.wide_content {
  padding: 0 5%; 
  overflow: hidden;

  .sidebar, .main_column {
    /*border: 1px solid red;*/
  }
  h2 {
    padding: .5em 0 0 0;
    margin: 0 0 1em 0;
  }
  h1 {
    font-size: 1.2em;
    padding: .5em 0 0 0;
    margin: 0 0 1em 0;
  }
  
  section.header {
    border-top: 5px solid $main_color;
    position: relative;

    h1 {
      display: inline-block;
    }
    .filters {
      display: inline-block;
      float: right;
      margin-top: 1em;
      font-size: .75em;
      text-transform: uppercase;

      span {
        display: inline-block;
        margin: 0 0 0 1em;
      }
    }
  }
  .sidebar {
    float: left; 
    width: 25%;

    ul, li {
      font-size: .9em; 
      line-height: 1.4em; 
      margin: 0; 
      padding: 0; 
      list-style-type: none;
    }
    li {
      margin-bottom: 1em;
    }
    .categories, .countries {
      a {
        text-decoration: none;
      }
    }
    div {
      margin-bottom: 40px;
    }

  }
  .main_column {
    float: right;
    width: 70%;
  }
  .main_column.left {
    float: left;
  }
  .sidebar.right {
    float: right;
  }
}

.long_text { width: 500px; font-size: 14px; }
.long_text p, .long_text ul, .long_text li { line-height: 22px; }

#user_donations {
  position: relative;
  #donations_chart { 
    position: absolute; 
    top: 6px; 
    right: 20px;
  }
}
.user_page {

  header { padding: 20px; position: relative;}
  header h1 { font-size: 28px; margin: 0 0 0 72px; }
  header img { vertical-align: middle; position: absolute; top: 0; left: 0; }

  h2 {
    color: $main-color;
    border-bottom: 2px solid $main-color;
    border-top: none;
    padding: 0 0 .15em 0;
    font-size: 1.1em;
  }
    
}
#donations_last_month { position: absolute; top: 25px; left: 450px; }
#donations_last_month small { display: block}
#donations_overall { position: absolute; top: 25px; left: 600px; }
#donations_last_month, #donations_overall { font-size: 14px; }
#user_nav { 
  margin: 20px 0;
  overflow: hidden;
}
#edit_your_profile { float: right; }

.ui-autocomplete { border: 1px solid red; }

#first_donation_pending { padding-top: 1em; padding-bottom: 1em; margin-bottom: 2em; }

#footer { text-align: center; font-size: 12px }

//Overwriting image for asset_pipeline -> there is probably a better way
.tipsy .tipsy-arrow { background-image: url(image_path('tipsy.gif')) !important }


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
  body { border: 2px solid red;}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen  and (max-width : 880px) {
  body { margin: 0; padding: 0; }
  #container { width: auto; margin: 0 0 2em 0; border-width: 0; }
  #header { position: relative; padding: 10px 0;}
    #nav_site { }
    #nav_personal { position: absolute; top: 10px; right: 10px; text-align: left; }
    #nav_site, #nav_personal { display: none; }
    #nav_mobile { display: block; }
    #logo { left: 39px; }
    #nav_mobile .hamburger { left: 0; }
  #home { padding-top: 0;}
  #home ul { width: auto; }
  #main_content { margin-top: 0; margin-bottom: 1%; padding: 5% 0; }
  .content_column, .alert { padding-left: 5%; padding-right: 5%; }
  .content_full {  }
  .long_text { width: auto;}
  #project .meta { margin-bottom: 5%; }
  #project .actions { padding: 0; }
  #project .meta, #project .actions { float: none; width: auto; }
  #track_donation {
    width: 540px;
    padding: 0; 
  }
  #track_donation.content_full {
    width: 100%;
     
  }
  .main_form {

  }
  .donation h3 { font-size: 16px; }
  .track_don_project {
    width: 100%;
  }  
  ul#share_buttons, ul#next {
    li { 
      width: auto; 
      display: block; 
      margin: 0 0 15px 0; 
      height: auto; 
      text-align: center;
      a {
        height: auto;
      }
    }
  }

  .wide_content {
    .main_column, .sidebar {
      float: none; 
      width: 100%; 
      clear: both;
      margin-bottom: 2em;
    }
    .main_column {
      .project a {
        width: 28%;
        margin: 0 2% 2% 0;
        padding: 1%;
      }
      .project:nth-child(3n+0) a {
        margin-left: 0;
      }
    }
    .sidebar li {
      font-size: 1.2em;
      line-height: 1.6em;
    }
  }
  
}

@media only screen  and (max-width : 540px) {

  .track_don_date, #track_donation .track_don_quantity_B {
    width: 100%;
    margin: 0 0 20px 0;
  }
  #track_donation {
    width: auto;
  }
  .track_don_date input {
    width: 96%;
  }

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

